.cars-from-wrapper {
  padding: 20px;
}
label {
  display: block;
  margin: 5px 0;
}
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}



input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit] {
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

#cars-form {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

.current-car-data {
  width: 100vw;
  height: 50px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-color: blue;
}

.car-properties{
  padding: 0.5rem;
  width: 200px;
  color: white;
  font-weight: bold;
}

.modal.active {
  transform: translate(0%, 0%) scale(1);
}
.modal {
  position: fixed;
  top: 0.25rem;
  left: 2.5vw;
  transform: translate(0%, 0%) scale(0);
  transition: 200ms ease-in-out;
  border: 1px solid black;
  border-radius: 10px;
  z-index: -123456791234567;
  width: 95vw;
  height: 97%;
  border-radius: 15px;
  box-shadow: 20px 20px 50px rgb(0 0 0 / 50%);
  background: rgba(255, 255, 255, 0.2);
  border: 1.5px solid rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(70px);
}

.modal-header {
  padding: 10px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1.5px solid rgba(255, 255, 255, 0.5);
  z-index: 3000;
  height: 15%;
  color: rgb(95, 171, 229);
  background: rgba(21, 2, 2, 0.22);
}

.modal-body {
  padding: 10px 15px;
  height: 85%;
  overflow: auto;
  color: rgba(217, 204, 239, 1);
  scroll-behavior: smooth;
}